body {
	background: #ebebeb;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
}

/*===================
    Status pagina
===================*/
header {
	width: 100%;
	background-color: white;
}

.header-image {
	width: 15%;
	padding: 10px 10px 5px 10px;
}

.header-gradient {
	margin-top: 0px;
	height: 1vh;
   	background-image: linear-gradient(to right, #ffdc00, #f69408, #e20019)
}

/*==============
	  Body
==============*/

.keuren-content {
	max-width: 50%;
	margin: 15vh auto;
	box-shadow: 7.5px 8.5px 10px 2.5px #7b7b7b;
	background: white;
}

.keuren-area {
	padding: 30px 30px 40px;	
	background: white;
}

.keuren-area h2 {
	margin: 0;
}


/* Dit is gemaakt voor aankoop keuren*/
.budget-div {
	padding: 4px 0px 4px 0px;
	transform-text: uppercase;
}

.budget-block {
	display: inline-block;
	border: 1px solid black;
	width: 40%;
	padding: 10px;
	margin: 20px 20px 20px 7%;
}

.budget-block div{
	padding-bottom: 1.5vh;
}

.budget-block div:last-child{
	padding-bottom: 0;
}

.button-block {
	padding-top: 2vh;
}

/*=================
	  Buttons
=================*/
.budget-hole {
	display: flex;
	justify-content: space-around;
}

.fa-check {
	cursor: pointer;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
	color: white;
	background: #00dd00;
	margin-right: 7%;
	margin-left: 3%;
}

.fa-times {
	cursor: pointer;
	border: 1px solid black;
	padding: 5px 13px 5px 13px;
	border-radius: 5px;
	color: white;
	background: red;
}

.budget-buttons {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 45px;
	width: 30%;
}

.fa-arrow-alt-circle-left {
	cursor: pointer;
}
