body {
	background: #ebebeb;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
}

/*===================
    Menu pagina
===================*/
header {
	width: 100%;
	background-color: white;
}

.header-image {
	width: 15%;
	padding: 10px 10px 5px 10px;
}

.header-gradient {
	margin-top: 0px;
	height: 1vh;
   	background-image: linear-gradient(to right, #ffdc00, #f69408, #e20019)
}

.menu-content {
	max-width: 40%;
	margin: 16vh auto;
	box-shadow: 7.5px 8.5px 10px 2.5px #7b7b7b;
}

.menu-form {
	padding: 30px 30px 40px;	
	background: white;
}

.menu-form h2 {
	margin-top: 0px;
}

.menu-buttons {
	padding: 4px 0px 4px 0px;
	text-align: center;
}

.button-div {
	display: block;
}

.menu-button {
	background-color: #a6a6a6;
	border: 1px solid #a6a6a6;
	color: white;
	padding: 14px 20px;
	margin: 1.8vh 0;
	border-radius: 5px;
	cursor: pointer;
	width: 30%;;
	height: 8vh;
	font-weight: bold;
	font-size: 80%;
}

.menu-button:hover {
	background-color: #364e57;
	border: 1px solid #364e57;
}

/*==================
	Phone version
==================*/

@media only screen and (max-width: 500px) {
	body {
		background: white;
	}
	
	.header-image {
		width: 60%;
		padding: 10px 10px 5px 10px;
	}
	
	.menu-content {
		max-width: 90%;
		margin: 2vh auto;
		box-shadow: none;
	}
	
	.menu-form {
		padding: 15px 15px 20px;	
		background: white;
	}
	
	.menu-button {
		width: 70%;;
	}
}

@media only screen and (min-width: 501px) and (max-width: 586px) {
	body {
		background: white;
	}
	
	.header-image {
		width: 45%;
		padding: 10px 10px 5px 10px;
	}
	
	.menu-content {
		max-width: 90%;
		margin: 2vh auto;
		box-shadow: none;
	}
	
	.menu-form {
		padding: 15px 15px 20px;	
		background: white;
	}
	
	.menu-button {
		width: 70%;;
	}
}

@media only screen and (min-width: 587px) and (max-width: 680px) {
	body {
		background: white;
	}
	
	.header-image {
		width: 30%;
		padding: 10px 10px 5px 10px;
	}
	
	.menu-content {
		max-width: 90%;
		margin: 2vh auto;
		box-shadow: none;
	}
	
	.menu-form {
		padding: 15px 15px 20px;	
		background: white;
	}
	
	.menu-button {
		width: 50%;;
	}
}

@media only screen and (min-width: 681px) and (max-width: 850px) {
	.header-image {
		width: 30%;
		padding: 10px 10px 5px 10px;
	}
	
	.menu-content {
		max-width: 60%;
		margin: 16vh auto;
		box-shadow: 7.5px 8.5px 10px 2.5px #7b7b7b;
	}
	
	.menu-button {
		width: 35%;;
	}
}

@media only screen and (min-width: 851px) and (max-width: 1114px) {
	.header-image {
		width: 20%;
		padding: 10px 10px 5px 10px;
	}
	
	.menu-content {
		max-width: 50%;
		margin: 16vh auto;
		box-shadow: 7.5px 8.5px 10px 2.5px #7b7b7b;
	}
	
	.menu-button {
		width: 35%;;
	}
}