body {
	background: #ebebeb;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
}

/*===================
    Products pagina
===================*/
header {
	width: 100%;
	background-color: white;
}

.header-image {
	width: 15%;
	padding: 10px 10px 5px 10px;
}

.header-gradient {
	margin-top: 0px;
	height: 1vh;
   	background-image: linear-gradient(to right, #ffdc00, #f69408, #e20019)
}

table {
	border-collapse: collapse;
	width: 100%;
}
		
th, td {
	text-align: center;
	padding: 8px;
}
		
tr:nth-child(even) {
	background-color: #f2f2f2;
}

.products-content {
	max-width: 50%;
	margin: 15vh auto;
	box-shadow: 7.5px 8.5px 10px 2.5px #7b7b7b;
}

.products-form {
	padding: 30px 30px 40px;	
	background: white;
}

.products-form h2 {
	margin-top: 0px;
}

.warning {
	color: red;
}

.warningModal {
	color: red;
	padding: 7% 5% 0% 5%;
}

.products-form textarea {
	display: block;
	width: 99%;
	height: 10vh;
}

.products-div {
	padding: 4px 0px 4px 0px;
}

.rowData:hover {
	background-color: #fff08a;
	cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

input[type=button] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.hidden {
	visibility: hidden;
}

/*==================
	Search input
==================*/

.productInput {
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	padding: 12px;
	border: 1px solid #ddd; 
	margin-bottom: 12px;
	width: 96%;
}

/*================
	Buttons
================*/

.fa-arrow-alt-circle-left {
	padding-top: 1vh;
	cursor: pointer;
}


/*=====================
      Toasts update
=====================*/

#toastUpdate {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: #3ab659; 
	color: #fff; 
	text-align: center; 
	border-radius: 2px; 
	padding: 16px;
	position: fixed;
	z-index: 1; 
	left: 50%; 
	bottom: 30px; 
}

#toastUpdate.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*=====================
      Toasts delte
=====================*/

#toastDelete {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: #3ab659; 
	color: #fff; 
	text-align: center; 
	border-radius: 2px; 
	padding: 16px;
	position: fixed;
	z-index: 1; 
	left: 50%; 
	bottom: 30px; 
}

#toastDelete.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/*=====================
      Toasts fout
=====================*/

#toastFout {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: red; 
	color: #fff; 
	text-align: center; 
	border-radius: 2px; 
	padding: 16px;
	position: fixed;
	z-index: 1; 
	left: 50%; 
	bottom: 30px; 
}

#toastFout.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/*=====================
         Fade
=====================*/

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*==================
	Phone version
==================*/

@media only screen and (max-width: 500px) {
	body {
		background-color: white;
	}
	
	.header-image {
		width: 60%;
		padding: 10px 10px 5px 10px;
	}
	
	.products-content {
		max-width: 100%;
		margin: 0;
		box-shadow: none;
	}
	
	.products-form {
		padding: 6px 5px 11px;	
		background: white;
	}
	
	.productInput {
		font-family: 'Montserrat', sans-serif;
	    font-size: 16px;
		padding: 12px;
		border: 1px solid #ddd; 
		margin-bottom: 12px;
		width: 92%;
	}
	
	table {
		font-size: 16px;
	}
	
	#productTabel input {
		width: 100%;
	}
	
	#toastFout {
		margin-left: 0;
	  	transform: translate(-50%, -50%);
	}
	
	#toastGoed {
		margin-left: 0;
	  	transform: translate(-50%, -50%);
	}
	
	.hidden {
		visibility: visible;
	}
}

@media only screen and (min-width: 501px) and (max-width: 650px) {
	body {
		background-color: white;
	}
	
	.header-image {
		width: 40%;
		padding: 10px 10px 5px 10px;
	}
	
	.products-content {
		max-width: 90%;
		margin: 5vh auto;
		box-shadow: none;
	}
	
	.products-form {
		padding: 6px 5px 11px;	
		background: white;
	}
	
	.productInput {
		font-family: 'Montserrat', sans-serif;
	    font-size: 16px;
		padding: 12px;
		border: 1px solid #ddd; 
		margin-bottom: 12px;
		width: 92%;
	}
	
	table {
		font-size: 16px;
	}
	
	#productTabel input {
		width: 100%;
	}
	
	#toastFout {
		margin-left: 0;
	  	transform: translate(-50%, -50%);
	}
	
	#toastGoed {
		margin-left: 0;
	  	transform: translate(-50%, -50%);
	}
	
	.hidden {
		visibility: visible;
	}
}

@media only screen and (min-width: 651px) and (max-width: 952px) {
	body {
		background-color: white;
	}
	
	.header-image {
		width: 20%;
		padding: 10px 10px 5px 10px;
	}
	
	.products-content {
		max-width: 80%;
		margin: 10vh auto;
		box-shadow: none;
	}
	
	.products-form {
		padding: 6px 5px 11px;	
		background: white;
	}
	
	.productInput {
		font-family: 'Montserrat', sans-serif;
	    font-size: 16px;
		padding: 12px;
		border: 1px solid #ddd; 
		margin-bottom: 12px;
		width: 92%;
	}
	
	table {
		font-size: 16px;
	}
	
	#productTabel input {
		width: 100%;
	}
	
	#toastFout {
		margin-left: 0;
	  	transform: translate(-50%, -50%);
	}
	
	#toastGoed {
		margin-left: 0;
	  	transform: translate(-50%, -50%);
	}
	
	.hidden {
		visibility: visible;
	}
}

