body {
	background: #ebebeb;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
}

/*===================
    Status pagina
===================*/
header {
	width: 100%;
	background-color: white;
}

.header-image {
	width: 15%;
	padding: 10px 10px 5px 10px;
}

.header-gradient {
	margin-top: 0px;
	height: 1vh;
   	background-image: linear-gradient(to right, #ffdc00, #f69408, #e20019)
}

/*==============
	  Body
==============*/

.keuren-content {
	max-width: 50%;
	margin: 15vh auto;
	box-shadow: 7.5px 8.5px 10px 2.5px #7b7b7b;
	background: white;
}

.keuren-area {
	padding: 30px 30px 40px;	
	background: white;
}

.information-header {
	margin-top: 0;
	display: flex;
	justify-content: space-between;
}

.information-header h2 {
	margin: 0;
}


/* Dit is gemaakt voor aankoop keuren*/
.voorstel-containers {
	display: flex;
	justify-content: space-around;	
}

.voorstel-div {
	display: inline-block;
	padding: 4px 0px 4px 0px;
}

.voorstel-block {
	display: inline-block;
	border: 1px solid black;
	width: 40%;
	padding: 10px;
	margin: 20px;
}

.voorstel-block div{
	padding-bottom: 1.5vh;
}

.voorstel-block div:last-child{
	padding-bottom: 0;
}

.button-block {
	padding-top: 2vh;
}

/*=================
	  Buttons
=================*/
.voorstel-hole {
		display: flex;
		justify-content: space-around;
}


.fa-check {
	cursor: pointer;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
	color: white;
	background: #00dd00;
	margin-right: 7%;
	margin-left: 3%;
}

.fa-times {
	cursor: pointer;
	border: 1px solid black;
	padding: 5px 13px 5px 13px;
	border-radius: 5px;
	color: white;
	background: red;
}

.voorstel-buttons {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 45px;
	width: 40%;
}

.fa-arrow-alt-circle-left {
	cursor: pointer;
}

/*================
	Budget box
================*/
.budget-div {
	position: relative;
	display: inline-block;
	width: 35%;	
	text-align: center;
	margin-right: 2vh;
	margin-top: 2vh;
}

.table-container {
	border: solid 1px black;
}

.budget-button {
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.budget-table {
	overflow-y: auto;
	height: 10px;
	padding: 4px;
}

.budget-body {
	height: 100px; 
	overflow:auto; 
	width: 110%;
}

table, td, th {  
	border: 1px solid #ddd;
	text-align: left;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 9px;
	max-width: 100%;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
/*============================
	Budget voorstel modal
============================*/
.modal {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%) scale(0);
  	transition: 200ms ease-in-out;
  	border: 1px solid white;
  	border-radius: 10px;
  	z-index: 10;
  	background-color: white;
  	width: 35%;
  	max-width: 80%;
}

.modal.active {
  	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  	padding: 10px 15px;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	border-bottom: 1px solid black;
}

.modal-header .title {
  	font-size: 1.25rem;
  	font-weight: bold;
}

.modal-header .close-button {
  	cursor: pointer;
  	border: none;
  	outline: none;
  	background: none;
  	font-size: 1.50rem;
  	font-weight: bold;
}

.modal-body {
  	padding: 7% 5% 0% 5%;
}

#overlay {
  	position: fixed;
  	opacity: 0;
  	transition: 200ms ease-in-out;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0, 0, 0, .7);
  	pointer-events: none;
}

#overlay.active {
  	opacity: 1;
  	pointer-events: all;
}

.modalAddCountry{
	margin-bottom: 15px;
}


#myForm{
	display: flex;
	justify-content: space-evenly;
}

.form-questions div {
	padding-bottom: 1.5vh;
}

.form-inputs div {
	padding-bottom: 1.5vh;
}

.reden-block {
	padding-left: 14.7%;
}


.product-insturen {
	background-color: #a6a6a6;
	border: 1px solid #a6a6a6;
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.85rem;
	float: right;
	margin: 15px 20px 30px 0;
	cursor: pointer;
}

.product-insturen:hover {
	background-color: #364e57;
	border: 1px solid #364e57;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.warningModal {
	color: red;
	padding-bottom: 20px;
}

/*=====================
      Toasts goed
=====================*/

#toastGoed {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: #3ab659; 
	color: #fff; 
	text-align: center; 
	border-radius: 2px; 
	padding: 16px;
	position: fixed;
	z-index: 1; 
	left: 50%; 
	bottom: 30px; 
}

#toastGoed.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/*=====================
      Toasts goed
=====================*/

#toastFout {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: red; 
	color: #fff; 
	text-align: center; 
	border-radius: 2px; 
	padding: 16px;
	position: fixed;
	z-index: 1; 
	left: 50%; 
	bottom: 30px; 
}

#toastFout.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/*=====================
         Fade
=====================*/

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*==================
	Phone version
==================*/

@media only screen and (max-width: 524px) {
	body {
		background-color: white;
	}
	
	.header-image {
		width: 60%;
		padding: 10px 10px 5px 10px;
	}
	
	.keuren-content {
		max-width: 100%;
		margin: 1vh auto;
		box-shadow: none;
		background: white;
	}
		
	.keuren-area {
		padding: 10px 10px 15px;	
		background: white;
	}	
	
	.header-select {
		margin-top: 7px;
	}
	
	.voorstel-hole {
		display: block;
		text-align: center;
		padding-bottom: 6vh;
	}
		
	.voorstel-block {
		display: block;
		border: 1px solid black;
		width: 80%;
		padding: 10px;
		margin: 20px 20px 20px 7%;
	}
	
	.voorstel-buttons {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 45px;
		width: 100%;
	}
	
	.budget-div {
		background-color: white;
	  	position: fixed;
	  	top: 77%;
	  	left: 67%;
	  	transform: translate(-50%, -50%);
		width: 100%;	
		text-align: center;
		margin-right: 2vh;
		margin-top: 4vh;
		padding-top: 0px;
		padding-bottom: 50px;
	}
	
	.budget-button {
		position: absolute;
		top: 88%;
		left: 21%;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.fa-arrow-alt-circle-left {
		position: fixed;
		top: 95%;
		left: 5%;
		cursor: pointer;
	}
	
	.modal {
	  	font-size: 15px;
	  	width: 90%;
  		max-width: 100%;
	}
	
	.form-questions div, .form-inputs div {
		padding-bottom: 2vh;
	}
}

@media only screen and (min-width: 525px) and (max-width: 660px) {
body {
		background-color: white;
	}
	
	.header-image {
		width: 60%;
		padding: 10px 10px 5px 10px;
	}
	
	.keuren-content {
		max-width: 100%;
		margin: 1vh auto;
		box-shadow: none;
		background: white;
	}
		
	.keuren-area {
		padding: 10px 10px 15px;	
		background: white;
	}	
	
	.header-select {
		margin-top: 7px;
	}
	
	.voorstel-hole {
		display: block;
		text-align: center;
		padding-bottom: 6vh;
	}
		
	.voorstel-block {
		display: block;
		border: 1px solid black;
		width: 80%;
		padding: 10px;
		margin: 20px 20px 20px 7%;
	}
	
	.voorstel-buttons {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 45px;
		width: 100%;
	}
	
	.budget-div {
		background-color: white;
	  	position: fixed;
	  	top: 77%;
	  	left: 80%;
	  	transform: translate(-50%, -50%);
		width: 100%;	
		text-align: center;
		margin-right: 2vh;
		margin-top: 4vh;
		padding-top: 0px;
		padding-bottom: 50px;
	}
	
	.budget-button {
		position: absolute;
		top: 88%;
		left: 21%;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.fa-arrow-alt-circle-left {
		position: fixed;
		top: 95%;
		left: 5%;
		cursor: pointer;
	}
	
	.modal {
	  	font-size: 15px;
	  	width: 90%;
  		max-width: 100%;
	}
	
	.form-questions div, .form-inputs div {
		padding-bottom: 2vh;
	}
}

@media only screen and (min-width: 661px) and (max-width: 959px) {
body {
		background-color: white;
	}
	
	.header-image {
		width: 60%;
		padding: 10px 10px 5px 10px;
	}
	
	.keuren-content {
		max-width: 100%;
		margin: 1vh auto;
		box-shadow: none;
		background: white;
	}
		
	.keuren-area {
		padding: 10px 10px 15px;	
		background: white;
	}	
	
	.header-select {
		margin-top: 7px;
	}
	
	.voorstel-hole {
		display: block;
		text-align: center;
		padding-bottom: 6vh;
	}
		
	.voorstel-block {
		display: block;
		border: 1px solid black;
		width: 80%;
		padding: 10px;
		margin: 20px 20px 20px 7%;
	}
	
	.voorstel-buttons {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 45px;
		width: 100%;
	}
	
	.budget-div {
		background-color: white;
	  	position: fixed;
	  	top: 77%;
	  	left: 85%;
	  	transform: translate(-50%, -50%);
		width: 100%;	
		text-align: center;
		margin-right: 2vh;
		margin-top: 4vh;
		padding-top: 0px;
		padding-bottom: 50px;
	}
	
	.budget-button {
		position: absolute;
		top: 88%;
		left: 21%;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.fa-arrow-alt-circle-left {
		position: fixed;
		top: 95%;
		left: 5%;
		cursor: pointer;
	}
	
	.modal {
	  	font-size: 15px;
	  	width: 90%;
  		max-width: 100%;
	}
	
	.form-questions div, .form-inputs div {
		padding-bottom: 2vh;
	}
}

@media only screen and (min-width: 960px) {
	.voorstel-div {
		overflow-y: none;
	}
}
